# --- PyTorch with CUDA Support ---
--index-url https://download.pytorch.org/whl/cu130
torch
torchvision
torchaudio

# --- Computer Vision & AI ---
ultralytics
opencv-python
pillow

# --- Data Science & Visualization ---
numpy
pandas
matplotlib

# --- Chess Processing & Vector Graphics ---
chess
svglib
reportlab